/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=GFS+Didot&family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Overrides default styling by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(245, 223, 196, 0.9);
    /* Shows the header even when you scroll */
    position: fixed;
    width: 100%;
    font-family: 'Cinzel', serif;
    /* Prevents header from sticking to the sides of the screen */
    padding: 0 1rem;
    box-shadow: 0 1px 6px #e0c192;
    /* For dropdown bar */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 5;
}

header a {
    /* Gets rid of the underline in hyperlinks */
    text-decoration: none;
    color: rgb(134, 181, 243);
    text-transform: uppercase;
    letter-spacing: 7px;
}

/* To change the colour of the FontAwesome kit icon */
i{
    color: #FBFCF8;
}

#menu {
    /* Gets rid of the bullet points */
    list-style-type: none;
    font-size: 100%;
}

/* To change the color of the text black when user hovers over hyperlinks */
a:hover {
    color: #3a3a3a;
}

/* To add a dashed line underneath the current page being used */
.active {
    border-bottom: 4px dashed #ffffff;
}

/* Navbar styles for dropdown */
nav {
    position: absolute;
    background-color: rgb(245, 223, 196);
    width: 100%;
    left: 0;
    padding: 0 1rem 0.5rem;
    box-shadow: 0 1px 6px #e0c192;
    display: none;
    top: 100%;
}

/* Menu pop up when checkbox is checked */
#nav-dropdown:checked~nav {
    display: block;
}

#nav-dropdown {
    display: none;
}

.nav-dropdown-label {
    font-size: 2rem;
}

main {
    background-color: rgba(246, 235, 222);
    /* Moves the main content under the header and not behind it */
    margin-top: 43px;
    /* Makes main content take up all the space between header and footer */
    flex: 1 0 auto;
    font-family: 'GFS Neohellenic', sans-serif;
    color: black;
    font-size: 1rem;
}

/* Styling for the video in 'Subscribe' page */
main video {
    width: 100%;
    height: auto;
    padding: 0rem 1rem 0.5rem 1rem;
    z-index: 2;
}

main h2 {
    font-family: 'GFS Didot', serif;
    padding: 1rem;
}

em {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgba(176, 196, 222, 0.686);
}

main > div {
    padding: 0 1rem 1rem 1rem;
    text-align: center;
}

#olympians {
    padding: 2rem;
}

.contact-us {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

/* To add space inbetween paragraphs without using break tags */
.home-text {
    margin-bottom: 2rem;
}

/* To fit the images in main within it's space */
main img {
    width: 100%;
}

/* To make the image rounder */
.break-text {
    border-radius: 50%;
}

/* Styling for the images in 'The Olypians' page */
#god-images {
    border-radius: 50%;
}

/* Styling of the line break tag */
hr {
    border-top: 17px dotted whitesmoke;
    margin: 2rem 0 2rem;
}

/* Styling for around the form */
form {
    border-radius: 5%;
    width: 95%;
    text-align: left;
    margin: auto;
    background-size: cover;
}

/* Styling for inside the form */
form div {
    width: 100%;
    padding: 0.5rem 1rem 1rem;    
    display: inline-block;
}

/* Styling for input tags*/
input {
    margin: 10px;
    padding: 3px;
}

/* Styling for input tags that are radio buttons */
input[type="radio"] {
    display: inline;
    margin-bottom: 2rem;
}

/* Styling for submit button from getcssscan.com */
.button-83 {
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 100%;
  font-weight: 700;
  line-height: 0px;
  margin: 0;
  outline: 2px solid transparent;
  padding: 1rem 0.5rem;
  text-align: center;
  text-transform: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.button-83:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.button-83:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

/* Styling for the footer */
footer {
    background-color: lightblue;
    padding: 0 1rem;
    color: #4c4c4c;
    font-size: medium;
}

/* Styling for the social media hyperlinks in footer */
#socials {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 2rem;
    margin-top: 1rem;
}

/* Styling for the copyright message in footer */
footer > p {
    text-align: center;
    padding: 0 0 1rem;
    margin-top: 1rem;
}

/* Media query: larger phones (width 375px and up) */
@media screen and (min-width: 375px) {
    header h1 {
        position: relative;
        right: -20px;
        letter-spacing: 9px;
        font-size: 2.5em;
    }
    i {
        position: relative;
        left: -17px;
        font-size: 2rem;
        bottom: 2px;
    }
    main {
        margin-top: 54px;
    }
    .contact-us {
        border-radius: 30%;
    }
    #socials {
        position: relative;
        right: -17px;
    }
}

/* Media query: tablets and larger (width 768px and up) */
@media screen and (min-width: 768px) {
    header {
        box-shadow: none;
        background-color: rgba(245, 223, 196);
    }
    header h1 {
        position: relative;
        right: -177px;
        font-size: 3rem;
        letter-spacing: 24px;
    }
    header i {
        visibility: hidden;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav {
        display: inline-block;
        right: -275px;
        box-shadow: none;
        background-color: rgb(241, 227, 210);
    }
    #menu {
        position: relative;
        font-size: 1.5rem;
    }
    main {
        margin-top: 104px;
        font-size: 1em;
    }
    div img {
        border-radius: 75%;
    }
}

/* Media query: laptops and desktops (width 1024px and up) */
@media screen and (min-width: 1024px) {
    header h1 {
        position: relative;
        right: -212px;
        font-size: 4rem;
        letter-spacing: 42px;
    }
    header a {
        letter-spacing: 5px;
    }
    #menu {
        font-size: 2rem;
    }
    main {
        font-size: 2em;
        margin-top: 137px;
    }
    .contact-us {
        border-radius: 15%;
    }
    #socials {
        font-size: 1rem;
    }
}

/* Media query: laptops and desktops (width 1440px and up) */
@media screen and (min-width: 1440px) {
    header h1 {
        position: relative;
        right: -365px;
        font-size: 6rem;
    }
    header a{
        font-size: 1.5rem;
    }
    main {
        margin-top: 181px;
    }
}