/* Overrides default styling by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(245, 223, 196, 0.8);
}

main {
    background-color: rgba(246, 235, 222, 0.8);
}

footer {
    background-color: lightblue;
}