/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=GFS+Didot&family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Overrides default styling by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(245, 223, 196, 0.8);
    /* Shows the header even when you scroll */
    position: fixed;
    width: 100%;
    font-family: 'Cinzel', serif;
    /* Prevents header from sticking to the sides of the screen */
    padding: 0 1rem;
    box-shadow: 0 1px 6px #e0c192;
}

header a {
    text-decoration: none;
    color: lightsteelblue;
    text-transform: uppercase;
    letter-spacing: 9px;
}


main {
    background-color: rgba(246, 235, 222, 0.8);
    /* Moves the main content under the header and not behind it */
    margin-top: 108px;
    /* Makes main content take up all the space between header and footer */
    flex: 1 0 auto;
    font-family: 'GFS Neohellenic', sans-serif;
}

footer {
    background-color: lightblue;
}